/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border-radius: 5px; */
}
.page{
    width: 60%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
/* fine common */


/* debug */
.main-top{
    height: 45vh;
    margin: 20px 0;
    background-color: #F0E68C;
    /* position: relative; */
}
header{
    height: 13vh;
    background-color: #DDA0DD;
}
.main-bottom{
    background-color: #1E90FF;
}
footer{
    height: 8vh;
    background-color: #663399;
}
.container{
    background-color: #87CEFA;
    height: 50vh;
}
.container-title{
    height: 7vh;
    background-color: #87CEFA;
}
/* fine debug */

/* header */
header{
    width: 100%;
    position: relative;
}
#logo img{
    display: inline-block;
    width: 10vw;
    border-right: 1px solid lightgray;
    padding: 0 20px 0 0;
}
nav{
    position: absolute;
    bottom: 0;
}
nav li{
    list-style: none;
    display: inline;
    padding-right: 30px;
    text-transform: uppercase;
    font-weight: 600;
}
nav li a{
    text-decoration: none;
    color: gray;
}
/* fine header */

/* inizio main */
/* main-top */
.main-top{
    margin: 20px 0;
    width: 100%;
    position: relative;
}
.main-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 9px;
}
.text-banner{
    left: 5%;
    width: 50%;
    position: relative;
    bottom: 40%;
    font-size: 1.2em;
    color: white;
}
#overlay{
    background-color: rgba(0,0,0,0.2);;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* main-bottom */
.main-bottom{
    width: 100%;
}

.container{
    margin: 15px 0 15px 0;
    float: left;
    width: 25%;
}
.container-title{
    width: 100%;
}
#center{
    width: calc((100% / 4) * 2 - 30px);
    margin: 15px;
}
 
/* fine main */

/* inizio footer */
footer{
    margin: 10px 0;
}
/* fine footer */