/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#page{
    width: 60%;
    margin: 0 auto;
    font-family:  "Montserrat", sans-serif;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
/* fine common */

/* debug */
/* .main-top{
    background-color: #F0E68C;
} */
/* header{
    background-color: #DDA0DD;
}  */
/* .main-bottom{
    background-color: #1E90FF;
} */
/* footer{
    height: 8vh;
    background-color: #663399;
} */
/* .container{
    background-color: #87CEFA;
    height: 50vh; 
} */
/* .title{
    height: 7vh;
    background-color: #87CEFA;
} */
/* fine debug */

/* header */
header{
    width: 100%;
    position: relative;
    height: 13vh;
}
#logo img{
    display: inline-block;
    width: 10vw;
    border-right: 1px solid lightgray;
    padding: 0 20px 0 0;
}
nav{
    position: absolute;
    bottom: 0;
}
nav li{
    list-style: none;
    display: inline;
    padding-right: 30px;
    text-transform: uppercase;
}
nav li a{
    text-decoration: none;
    color: gray;
}
/* fine header */

/* inizio main */
/* main-top */
.main-top{
    margin: 20px 0;
    width: 100%;
    position: relative;
    height: 45vh;
}
.main-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-banner{
    left: 5%;
    width: 50%;
    position: relative;
    bottom: 40%;
    font-size: 19px;
    color: white;
    font-weight: normal;
}
#banner-title{
    font-size: 28px;
}
.overlay{
    background-color: rgba(0,0,0,0.2);;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 9px;
}

/* main-bottom */
.main-bottom{
    width: 100%;
}
.container{
    position: relative;
    margin: 15px 0 15px 0;
    float: left;
    width: 25%;
}
.title{
    width: 100%;
    font-size: 23px;
    color: grey;
    margin: 20px 0;
}
.title h1{
    font-weight: bolder;
    color: black;
}
#center{
    width: calc((100% / 4) * 2 - 30px);
    margin: 15px;
}
.container-image{
    width: 100%;
    height: 25vh;
    object-fit: cover;
}
.ol2{
    height: 25vh;
}
.container-title{
    display: block;
    margin: 20px 0;
    font-weight: 600;
}
/* fine main */

/* inizio footer */
footer{
    margin: 30px 0;
    text-align: center;
    font-weight: bold;
}
#red-heart{
    color: red;
}
/* fine footer */